
<div class="container">

    <div *ngFor="let film of films | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalElement }">


        <div class="media">
            <button type="button" class="btn btn-light" (click)="navigate(film)">
                <img class=" align-self-start mr-13" src="favicon.ico"
                 alt="Generic placeholder image"></button>

            <div class="media-body">
                <h5 class="mt-0">{{film.name}}</h5>
                <h5 class="mt-0">{{ film.description}}</h5>
                <h5 class="mt-0">{{ film.rating}}</h5>
                <h5 class="mt-0">{{ film.releaseDate | date}}</h5>
                <h5 class="mt-0">{{ film.genre}}</h5>
            </div>

        </div>


    </div>

    <pagination-controls (pageChange)="getFilms((page = $event))"></pagination-controls>


</div>


